[Unit]
Description=Mail-in-a-Box System Management Service
After=network.target
Before=postfix.service dovecot.service

[Service]
Type=idle
IgnoreSIGPIPE=False
ExecStart=/usr/local/lib/mailinabox/start

[Install]
WantedBy=multi-user.target
