[Unit]
Description=oxi.email webmail
After=network.target dovecot.service postfix.service

[Service]
EnvironmentFile=/etc/oxi/config.env
ExecStart=/usr/local/bin/oxi-email-server
User=www-data
Group=www-data
Restart=on-failure
RestartSec=5
WorkingDirectory=/usr/local/share/oxi-email

# Sandboxing
NoNewPrivileges=true
PrivateTmp=true
PrivateDevices=true
ProtectSystem=strict
ReadWritePaths=${STORAGE_ROOT}/oxi
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=true
LockPersonality=true
MemoryDenyWriteExecute=true
SystemCallFilter=@system-service
CapabilityBoundingSet=

[Install]
WantedBy=multi-user.target
